<section>    
    <div class="list">
    {{#each templates}}
        <div class="template" data-action="selectTemplate" data-id="{{id}}" data-name="{{name}}" data-creator="{{createdBy}}" draggable="true"
            data-tooltip='<div class="tooltiptext">{{#if hint}}<div class="description">{{hint}}</div>{{/if}}{{#if img}}<img src="{{img}}" loading="lazy">{{/if}}</div>'>
            <img src="{{img}}">
            <div class="label">
                <span class="name">{{name}}</span>
                {{#if createdBy}}<span class="author">by {{createdBy}}{{/if}}</span>
            </div>
            <div class="controls">
                {{#if ../allowDelete}}<a class="delete" data-action="deleteTemplate" title="Delete"><i class="fa-solid fa-trash fa-xs"></i></a>{{/if}}
                {{#if ../allowCopy}}<a class="copy" data-action="copyTemplate" title="Copy to User"><i class="fas fa-clone fa-xs"></i></a>{{/if}}
            </div>
        </div>
    {{/each}}
    </div>
</section>