<section>    
    <div class="list">
    {{#each templates}}
        <div class="template" data-action="selectTemplate" data-id="{{id}}" data-name="{{name}}" data-creator="{{createdBy}}" draggable="true"
            data-tooltip='{{#if hint}}<p class="description">{{hint}}</p>{{/if}}{{#if img}}<img src="{{img}}" loading="lazy">{{/if}}'>
            <img src="{{img}}">
            <div class="label">
                <span class="name">{{name}}</span>
                {{#if createdBy}}<span class="author">by {{createdBy}}{{/if}}</span>
            </div>
            <div class="meta">
                {{#if system}}<span class="system">{{system}}</span>{{/if}}
                {{#each modules}}<span class="module">{{id}}</span>{{/each}}
            </div>
        </div>
    {{/each}}
    </div>
</section>